/* HERO.css */
.hero {
  max-width: 700px;
  margin: 100px auto;
  animation: fadeInUp 1.2s ease-out;
}
.hero h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  color: #fff;
  text-shadow: 2px 2px 10px #0ff, 0 0 8px #191919;
}
.highlight {
  color: #0ff;
  background: linear-gradient(to right, #0ff, #f0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  filter: brightness(1.2) contrast(1.3);
}
